<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80958954067-gcln73dqahbhu4cqoqogg8v75vguc10d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80958954067-gcln73dqahbhu4cqoqogg8v75vguc10d</string>
	<key>API_KEY</key>
	<string>AIzaSyBc2_Wh8gouAG1Zdbmr-Kk4Ai7BMXFUw-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>80958954067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myGarage</string>
	<key>PROJECT_ID</key>
	<string>my-garage-4f5c2</string>
	<key>STORAGE_BUCKET</key>
	<string>my-garage-4f5c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80958954067:ios:c21c3f6a19a0b0b8f0c4a6</string>
</dict>
</plist>